<div class="row">
    <form (ngSubmit)="onSubmit()" [formGroup]="sForm">
        <button type="button" class="newPosition btn btn-primary" (click)="onAddPosition()">
            + Nowa pozycja
        </button>

        <button class="btn btn-success btn-save" type='submit'>Zapisz</button>
        <span class="alert alert-success alert-save" *ngIf="saved">
            Zapisano
        </span>
        <p class="changeDisplayingStatus">
            <input type="checkbox" [checked]="showedDataList.experience" (click)="updateShowedDataList()">
            Dodaj sekcję do CV
        </p>
        <div *ngFor="let position of positionControls; let i = index" class="position card" formArrayName="positions">
            
            <div class="card-body" [formGroupName]="i">
                <input id="certificate" type="text" name="certificate" formControlName="certificate"
                    class="form-control edu-control" placeholder="Nazwa certyfikatu/kursu" />
                    <button type="button" class="btn btn-outline-danger" (click)="deletePosition(i)">Usuń
                    </button>
            </div>
        </div>
    </form>
</div>