<div class="card">
    <div class="card-header">
        <span>{{cv.name}}</span>
        <div>
            <button class="btn" (click)="visibility=!visibility" 
                [ngClass]="!visibility?'btn-outline-success':'btn-outline-danger'">
                <span *ngIf="visibility">Ukryj</span>
                <span *ngIf="!visibility">Rozwiń</span>
            </button>
            <button 
                class="btn-edit btn btn-outline-warning" 
                (click)="onEdit()">Edytuj
            </button>
        </div>
    </div>
    <div class="card-body" *ngIf="visibility">
        <span>Utworzono: {{cvData.creationDate.toDateString()}}</span>
        <span>Zmodyfikowano: {{cvData.lastModificationDate.toDateString()}}</span>
    </div>
</div>