.data-group{
    margin: 10px 0;
    .single-data{
        display: flex;
        position: relative;
        .content{
            .studyDirection{
                font-weight: 700;
                font-size: 14px;
                display: block;
            }
            .school{
                font-size: x-small;
            }
        }
        .dates{
            position: absolute;
            top:20px;
            right: 10px;
            font-size: x-small;
        }
    }
}