.data-group{
    .single-data{
        display:flex;
        font-size: small;
        margin: 10px 0;
        .info{
            display: block;
            width: 300px;
            
            .name{
                font-weight: bold;
                font-size: larger;
            }
        }
        .details{
            flex-grow: 1;
            text-align:justify;
        }
    }
}